features/etude_arthur/[NorlocXArthur] 1 - call planner v2 (1).json
{
  "name": "[NorlocXArthur] 1 - call planner v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */10 9-17 * * 1-6"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        -176
      ],
      "id": "ab893e81-e918-4937-9df6-a5f7f11a579b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        16
      ],
      "id": "fbc70ab7-59ad-4098-932d-81e6d5326e19",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "87c40549-a86d-4bba-95cf-9f0d9728a6d8",
              "leftValue": "={{ $json.external_deal_id }}",
              "rightValue": "=APPELER_PROSPECT",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        128,
        -80
      ],
      "id": "1206a64f-7a5f-4d09-9710-e14a7991856d",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Toutes les 10 minutes, du lundi au samedi, entre 9 heure et 18h",
        "height": 336,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        -352
      ],
      "typeVersion": 1,
      "id": "3b61d7a2-6dd9-4aa8-875f-dbf61b164d3e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jiX3nNETvBX3X2z3",
          "mode": "list",
          "cachedResultName": "[NorlocXArthur] 2 - add new deal v2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        352,
        16
      ],
      "id": "314a296c-3e67-4316-81b3-94c001c7f4a2",
      "name": "Call '[NorlocXArthur] 2 - add new deal v2'"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "v_arthur_next_call_norloc",
        "limit": 1
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -96,
        -80
      ],
      "id": "5e43fd86-ca8f-47b1-97d2-c801dbf65645",
      "name": "next sequence call or get user from CRM ",
      "credentials": {
        "supabaseApi": {
          "id": "XsVol30xDDqWJuLk",
          "name": "Voipia - Supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dipler-backend-203319928451.europe-west9.run.app",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n    \"Authorization\": \"Bearer dpl_pak_0610389934e3a004c34a1ef174072a471f0fd21431b229abcbd69aa6c2ebf74e\",\n    \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"service\": \"twilio\",\n  \"action\": \"makeCall\",\n  \"payload\": {\n    \"workspaceId\": \"01K3NBGPM3S3W9XYA7E7A089WX\",\n    \"companyId\": \"01K3NAXD42A3YDWCW3X246BT04\",\n    \"fromPhoneNumber\": \"+33757598940\",\n    \"toPhoneNumber\": {{ JSON.stringify($json.phone_number) }},\n    \"agentId\": \"01K7RJTHV3BZ0RR2VJ4JDKXHAX\",\n    \"config\": {\n      \"sessionVariables\": {\n        \"prenom\": {{ JSON.stringify($json.first_name) }},\n        \"nom\": {{ JSON.stringify($json.last_name) }},\n        \"telephone\": {{ JSON.stringify($json.phone_number) }},\n        \"email\": {{ JSON.stringify($json.email) }},\n        \"dealId\": {{ JSON.stringify($json.external_deal_id) }},\n        \"segment\": {{ JSON.stringify($json.segment) }},\n        \"delai_contact\": {{ JSON.stringify($json.delai_contact) }},\n        \"dernier_interlocuteur\": {{ JSON.stringify($json.dernier_interlocuteur) }},\n        \"historique_resume\": {{ JSON.stringify($json.historique_resume) }},\n        \"comportement_detecte\": {{ JSON.stringify($json.comportement_detecte) }},\n        \"approche_arthur\": {{ JSON.stringify($json.approche_recommandee) }},\n        \"points_accroche\": {{ JSON.stringify($json.points_accroche) }},\n        \"objections_probables\": {{ JSON.stringify($json.objections_probables) }},\n        \"recommandation\": {{ JSON.stringify($json.recommandation) }},\n        \"notes_importantes\": {{ JSON.stringify($json.notes_importantes) }},\n        \"nb_tentative\": {{ JSON.stringify($json.current_attempt) }},\n        \"prospect_id\": {{ JSON.stringify($json.prospect_id) }},\n        \"sequence_id\": {{ JSON.stringify($json.sequence_id) }}\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        -176
      ],
      "id": "58fe07e7-a045-49ce-a2ee-1b591b024f55",
      "name": "Lancement appel"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "next sequence call or get user from CRM ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "next sequence call or get user from CRM ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Lancement appel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call '[NorlocXArthur] 2 - add new deal v2'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "next sequence call or get user from CRM ": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "SGSovZYF1Tz9a2Rp"
  },
  "versionId": "6f5b6c1f-c858-4228-90b8-67b0850bc8e9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "27a6c874b68318cdae94f2a582a89e9844ae4d79131f1180544dc868ad3bf428"
  },
  "id": "KRRkyagUTpZu5NE4",
  "tags": []
}