features/etude_arthur/[NorlocXArthur] 3 - tools and call data v2.json
{
  "name": "[NorlocXArthur] 3 - tools and call data v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "norloc-arthur-send-confirmation-v2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        224
      ],
      "id": "747d547d-94e3-4536-b994-f7215a4bdae9",
      "name": "SendConfirmation",
      "webhookId": "1ea81449-8656-43ad-a419-a082fffa7c7f"
    },
    {
      "parameters": {
        "sendTo": "=yassine@norloc.co",
        "subject": "=Arthur - Confirmation de votre rendez-vous avec {{ $('SendConfirmation').item.json.body.functionCall.args.prenom }} le {{ $('SendConfirmation').item.json.body.functionCall.args.date }} à {{ $('SendConfirmation').item.json.body.functionCall.args.time }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333333;\n            max-width: 600px;\n            margin: 0 auto;\n            padding: 20px;\n        }\n        .container {\n            background-color: #f8f9fa;\n            border-radius: 8px;\n            padding: 30px;\n            border-left: 4px solid #007bff;\n        }\n        .header {\n            font-size: 20px;\n            font-weight: 600;\n            color: #007bff;\n            margin-bottom: 20px;\n        }\n        .content {\n            background-color: white;\n            padding: 20px;\n            border-radius: 6px;\n            margin-top: 15px;\n        }\n        .info-line {\n            margin: 10px 0;\n            font-size: 16px;\n        }\n        .label {\n            font-weight: 600;\n            color: #555555;\n        }\n        .value {\n            color: #007bff;\n            font-weight: 500;\n        }\n        .footer {\n            margin-top: 20px;\n            font-size: 14px;\n            color: #666666;\n            text-align: center;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">✅ Confirmation de rendez-vous</div>\n        \n        <div class=\"content\">\n            <p>Suite à l'appel de l'agent vocal <strong>Arthur</strong>, un rendez-vous a été confirmé avec les informations suivantes :</p>\n            \n            <div class=\"info-line\">\n                <span class=\"label\">👤 Contact :</span> \n                <span class=\"value\">{{ $('SendConfirmation').item.json.body.functionCall.args.prenom }}</span>\n            </div>\n            \n            <div class=\"info-line\">\n                <span class=\"label\">📅 Date :</span> \n                <span class=\"value\">{{ DateTime.fromISO($('SendConfirmation').item.json.body.functionCall.args.date).toFormat('dd/MM/yyyy') }}</span>\n            </div>\n            \n            <div class=\"info-line\">\n                <span class=\"label\">🕐 Heure :</span> \n                <span class=\"value\">{{ $('SendConfirmation').item.json.body.functionCall.args.time }}</span>\n            </div>\n        </div>\n        \n        <div class=\"footer\">\n            Ce rendez-vous a été programmé automatiquement par votre assistant vocal.\n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        192,
        224
      ],
      "id": "6973c6f9-3c81-45f1-847e-864bac375427",
      "name": "Envoi mail confirmation",
      "webhookId": "ba7b6c1c-835b-4960-ae59-d9fd64a03f26",
      "credentials": {
        "gmailOAuth2": {
          "id": "6RMCdmrdaqMZKbZQ",
          "name": "Norloc - Gmail"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "yassine@norloc.co",
          "mode": "list",
          "cachedResultName": "yassine@norloc.co"
        },
        "start": "={{ $json.start }}",
        "end": "={{ $json.end }}",
        "additionalFields": {
          "attendees": [
            "={{ $('SendConfirmation').item.json.body.functionCall.args.mail }}",
            "yassine@norloc.co"
          ],
          "summary": "={{ $('SendConfirmation').item.json.body.functionCall.args.prenom }} x Yassine (Norloc.co)"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -32,
        224
      ],
      "id": "823d537d-fcc4-4e2c-851e-edde17fb91a3",
      "name": "Google Calendar",
      "executeOnce": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YHWWEtQrVLkFVgtJ",
          "name": "Norloc - Drive"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst updatedItems = items.map((item) => {\n  const date = item.json.body.functionCall.args.date; // ex: \"2025-05-10\"\n  const time = item.json.body.functionCall.args.time; // ex: \"09:00\"\n  const [hour, minute] = time.split(\":\").map(Number);\n  \n  // Ajouter 30 minutes\n  let totalMinutes = minute + 30;\n  let hourEnd = hour;\n  let minuteEnd = totalMinutes;\n  \n  // Gérer le dépassement d'heure\n  if (totalMinutes >= 60) {\n    hourEnd = hour + 1;\n    minuteEnd = totalMinutes - 60;\n  }\n  \n  const start = `${date}T${time}:00+02:00`;\n  const end = `${date}T${hourEnd.toString().padStart(2, \"0\")}:${minuteEnd.toString().padStart(2, \"0\")}:00+02:00`;\n  \n  return {\n    json: {\n      start,\n      end\n    }\n  };\n});\n\nreturn updatedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        224
      ],
      "id": "34a219df-12fd-4ab7-927b-16ba82ec8da4",
      "name": "Formatte les date de début et fin de réu"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "norloc-arthur-end-calls-v2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -256,
        1296
      ],
      "id": "63404c0b-509a-48b7-b959-6f6941e7929e",
      "name": "end_call",
      "webhookId": "378afbb5-fe23-4a00-9644-8cbe7bda7cf1"
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $('end_call').item.json.body.conversation.config.sessionVariables.dealId }}",
        "updateFields": {
          "status": "lost"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        416,
        1968
      ],
      "id": "98728ce0-2079-4a55-bf32-50261f1b7167",
      "name": "Deal Status = Lost",
      "credentials": {
        "pipedriveApi": {
          "id": "hybtEliIpMNfDqhV",
          "name": "Norloc - Pipedrive"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.conversation.config.sessionVariables.nb_tentative}}",
                    "rightValue": "0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9824154b-4bec-486e-b119-d9390886cacb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Essai 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b225da1e-0929-4c33-aab8-0e96da529e0c",
                    "leftValue": "={{ $json.body.conversation.config.sessionVariables.nb_tentative}}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Essai 2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a0fe1d5e-d246-46bc-bb67-af7e4c8c2ddd",
                    "leftValue": "={{ $json.body.conversation.config.sessionVariables.nb_tentative}}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Essai 3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6bb51a47-4205-4100-8c21-c4e7511f4a72",
                    "leftValue": "={{ $json.body.conversation.config.sessionVariables.nb_tentative}}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fallback - exit"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        192,
        2480
      ],
      "id": "c3bf4f22-6a36-4418-8605-4cd4b5c9bef2",
      "name": "VM - Quel stade"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99642398-d804-40fe-88f7-f62ecb367749",
              "name": "mail",
              "value": "=<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\"><head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"><meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"><meta name=\"format-detection\" content=\"telephone=no\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>On prend des nouvelles 🙂 </title><style type=\"text/css\" emogrify=\"no\">#outlook a { padding:0; } .ExternalClass { width:100%; } .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; } table td { border-collapse: collapse; mso-line-height-rule: exactly; } .editable.image { font-size: 0 !important; line-height: 0 !important; } .nl2go_preheader { display: none !important; mso-hide:all !important; mso-line-height-rule: exactly; visibility: hidden !important; line-height: 0px !important; font-size: 0px !important; } body { width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; } img { outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; } a img { border:none; } table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; } th { font-weight: normal; text-align: left; } *[class=\"gmail-fix\"] { display: none !important; } </style><style type=\"text/css\" emogrify=\"no\"> @media (max-width: 600px) { .gmx-killpill { content: ' \\03D1';} } </style><style type=\"text/css\" emogrify=\"no\">@media (max-width: 600px) { .gmx-killpill { content: ' \\03D1';} .r0-o { border-style: solid !important; margin: 0 auto 0 auto !important; width: 320px !important } .r1-i { background-color: #ffffff !important } .r2-o { border-style: solid !important; margin: 0 auto 0 auto !important; width: 100% !important } .r3-c { box-sizing: border-box !important; display: block !important; valign: top !important; width: 100% !important } .r4-o { border-style: solid !important; width: 100% !important } .r5-o { border-bottom-width: 0px !important; border-left-width: 0px !important; border-right-width: 0px !important; border-style: solid !important; border-top-width: 0px !important; margin: 0 auto 0 0 !important; width: 100% !important } .r6-i { background-color: #ffffff !important; padding-top: 15px !important; text-align: justify !important } .r7-i { padding-bottom: 15px !important; padding-top: 15px !important } .r8-o { border-style: solid !important; margin: 0 auto 0 0 !important; width: 100% !important } .r9-i { background-color: #f9faff !important; padding-bottom: 15px !important; padding-top: 15px !important; text-align: justify !important } body { -webkit-text-size-adjust: none } .nl2go-responsive-hide { display: none } .nl2go-body-table { min-width: unset !important } .mobshow { height: auto !important; overflow: visible !important; max-height: unset !important; visibility: visible !important } .resp-table { display: inline-table !important } .magic-resp { display: table-cell !important } } </style><style type=\"text/css\">p, h1, h2, h3, h4, ol, ul, li { margin: 0; } .nl2go-default-textstyle { color: #3b3f44; font-family: arial,helvetica,sans-serif; font-size: 16px; line-height: 1.5; word-break: break-word } .default-button { color: #ffffff; font-family: arial,helvetica,sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 1.15; text-decoration: none; word-break: break-word } a, a:link { color: #0092ff; text-decoration: underline } .default-heading1 { color: #1F2D3D; font-family: arial,helvetica,sans-serif; font-size: 36px; font-weight: 400; word-break: break-word } .default-heading2 { color: #1F2D3D; font-family: arial,helvetica,sans-serif; font-size: 32px; font-weight: 400; word-break: break-word } .default-heading3 { color: #1F2D3D; font-family: arial,helvetica,sans-serif; font-size: 24px; font-weight: 400; word-break: break-word } .default-heading4 { color: #1F2D3D; font-family: arial,helvetica,sans-serif; font-size: 18px; font-weight: 400; word-break: break-word } a[x-apple-data-detectors] { color: inherit !important; text-decoration: inherit !important; font-size: inherit !important; font-family: inherit !important; font-weight: inherit !important; line-height: inherit !important; } .no-show-for-you { border: none; display: none; float: none; font-size: 0; height: 0; line-height: 0; max-height: 0; mso-hide: all; overflow: hidden; table-layout: fixed; visibility: hidden; width: 0; } </style><!--[if mso]><xml> <o:OfficeDocumentSettings> <o:AllowPNG/> <o:PixelsPerInch>96</o:PixelsPerInch> </o:OfficeDocumentSettings> </xml><![endif]--><style type=\"text/css\">a:link{color: #0092ff; text-decoration: underline;}</style></head><body bgcolor=\"#ffffff\" text=\"#3b3f44\" link=\"#0092ff\" yahoo=\"fix\" style=\"background-color: #ffffff;\"> <table cellspacing=\"0\" cellpadding=\"0\" border=\"0\" role=\"presentation\" class=\"nl2go-body-table\" width=\"100%\" style=\"background-color: #ffffff; width: 100%;\"><tr><td> <table cellspacing=\"0\" cellpadding=\"0\" border=\"0\" role=\"presentation\" width=\"600\" align=\"center\" class=\"r0-o\" style=\"table-layout: fixed; width: 600px;\"><tr><td valign=\"top\" class=\"r1-i\" style=\"background-color: #ffffff;\"> <table cellspacing=\"0\" cellpadding=\"0\" border=\"0\" role=\"presentation\" width=\"100%\" align=\"center\" class=\"r2-o\" style=\"background-color: #f9faff; table-layout: fixed; width: 100%;\"><tr><th width=\"100%\" valign=\"top\" class=\"r3-c\" style=\"font-weight: normal;\"> <table cellspacing=\"0\" cellpadding=\"0\" border=\"0\" role=\"presentation\" width=\"100%\" align=\"left\" class=\"r5-o\" style=\"border-bottom-width: 0px; border-collapse: separate; border-left-width: 0px; border-radius: 0px; border-right-width: 0px; border-top-width: 0px; table-layout: fixed; width: 100%;\"><tr><td align=\"justify\" valign=\"top\" class=\"r6-i nl2go-default-textstyle\" style=\"color: #3b3f44; font-family: arial,helvetica,sans-serif; font-size: 16px; line-height: 1.5; word-break: break-word; background-color: #ffffff; border-radius: 0px; padding-top: 15px; text-align: justify;\"> <div><p style=\"margin: 0;\"> </p><p style=\"margin: 0;\">Bonjour {{ $json.body.conversation.config.sessionVariables.prenom }},</p><p style=\"margin: 0;\">J’espère que tout va bien de votre côté ! </p><p style=\"margin: 0;\">Cela fait quelque temps que nous n’avons pas échangé, alors je me permets de revenir vers vous pour <span style=\"color: #0d1539;\"><strong>prendre un peu de vos nouvelles</strong></span> et savoir où vous en êtes dans votre réflexion immobilière. <br> </p><p style=\"margin: 0;\">Chez Norloc, on continue d’accompagner des investisseurs motivés, même avec des budgets plus modestes, à bâtir des projets rentables et sans stress.</p><p style=\"margin: 0;\">👉 Par exemple, <span style=\"color: #0d1539;\"><strong>Élisa</strong></span>, une cliente qui hésitait depuis plusieurs mois, a finalement sauté le pas il y a quelques semaines.</p><p style=\"margin: 0;\"><br>Avec un budget maîtrisé, elle a pu <span style=\"color: #0d1539;\"><strong>acquérir un appartement meublé à Lens à 129K € clé en main</strong></span>, avec <span style=\"color: #0d1539;\"><strong>une belle rentabilité</strong></span><strong> </strong> et<span style=\"color: #0D1539;\"> <strong>zéro gestion à sa charge</strong>.</span></p><p style=\"margin: 0;\"> </p><p style=\"margin: 0;\">Voici le lien de son projet : </p></div> </td> </tr></table><table cellspacing=\"0\" cellpadding=\"0\" border=\"0\" role=\"presentation\" width=\"600\" align=\"center\" class=\"r2-o\" style=\"table-layout: fixed; width: 600px;\"><tr><td class=\"r7-i\" style=\"font-size: 0px; line-height: 0px; padding-bottom: 15px; padding-top: 15px;\"> <a href=\"https://www.instagram.com/reel/DN8ZAaVjECb/?igsh=MTQ1NjRsYW55cXd5Ng==\" target=\"_blank\" style=\"color: #0092ff; text-decoration: underline;\"> <img src=\"https://img.mailinblue.com/7607315/images/content_library/original/68e4fe815fcc1ad2d5948273.png\" width=\"600\" border=\"0\" style=\"display: block; width: 100%;\"></a> </td> </tr></table><table cellspacing=\"0\" cellpadding=\"0\" border=\"0\" role=\"presentation\" width=\"100%\" align=\"left\" class=\"r8-o\" style=\"table-layout: fixed; width: 100%;\"><tr><td align=\"justify\" valign=\"top\" class=\"r9-i nl2go-default-textstyle\" style=\"color: #3b3f44; font-family: arial,helvetica,sans-serif; font-size: 16px; line-height: 1.5; word-break: break-word; background-color: #f9faff; padding-bottom: 15px; padding-top: 15px; text-align: justify;\"> <div><p style=\"margin: 0;\"> </p><p style=\"margin: 0;\">Alors si vous souhaitez <span style=\"color: #0d1539;\"><strong>faire le point ensemble</strong>,</span> ou simplement <span style=\"color: #0d1539;\"><strong>échanger sur vos options actuelles</strong></span>, nous serions ravis d’en discuter avec vous.</p><p style=\"margin: 0;\"> </p><p style=\"margin: 0;\">📅 Vous pouvez choisir un créneau qui vous arrange juste ici :<br>👉 <a href=\"https://norloc.co/prendre-rendez-vous-en-ligne\" target=\"_new\" style=\"color: #0092ff; text-decoration: underline;\">https://norloc.co/prendre-rendez-vous-en-ligne</a></p><p style=\"margin: 0;\"> </p><p style=\"margin: 0;\">À très vite,<br>L’équipe Norloc</p></div> </td> </tr></table></th> </tr></table></td> </tr></table></td> </tr></table></body></html>",
              "type": "string"
            },
            {
              "id": "e4d4871f-ff7d-4941-a518-6b08d0716925",
              "name": "texto",
              "value": "=Bonjour {{ $json.body.conversation.config.sessionVariables.prenom }}, \n\nJe me permets de vous relancer au sujet de votre projet locatif avec Norloc. \n\nJe viens de vous envoyer un email détaillant un projet locatif que nous avons récemment finalisé pour notre cliente.\n\nN’hésitez pas à le consulter, et si besoin, je reste à votre disposition pour échanger ou répondre à vos questions.\n\nArthur - norloc.co",
              "type": "string"
            },
            {
              "id": "114db4ac-1878-44ab-b935-18803f8879c3",
              "name": "Délai jour prochain appel",
              "value": 5,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        2752
      ],
      "id": "ab599b3c-af73-40a4-b01c-395a0aec62a8",
      "name": "Param pour R2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99642398-d804-40fe-88f7-f62ecb367749",
              "name": "texto",
              "value": "=Bonjour {{ $json.body.conversation.config.sessionVariables.prenom }} ! Je suis Arthur, l'assistant virtuel de Norloc, solution clé en main pour l’investissement locatif. Vous nous aviez contacté il y a quelques temps concernant votre projet. Ce dernier est-il toujours d’actualité ?\n\nJe viens de tenter de vous appeler pour faire le point.  \n\nPour rappel, voici le lien vers notre site web et page instagram : \nSite : https://norloc.co/ | Instagram : https://www.instagram.com/norloc.co/\n\nA très vite",
              "type": "string"
            },
            {
              "id": "114db4ac-1878-44ab-b935-18803f8879c3",
              "name": "Délai jour prochain appel",
              "value": 2,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        2352
      ],
      "id": "da2a9db7-569b-4da1-81da-95e75391b1a6",
      "name": "Param pour R1"
    },
    {
      "parameters": {
        "from": "+33757598940",
        "to": "={{ $('end_call').item.json.body.conversation.config.sessionVariables.telephone }}",
        "message": "={{ $json.texto }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        640,
        2160
      ],
      "id": "310c45ed-256b-4e92-93e8-afb4217f660e",
      "name": "R1 - Prévenir du call",
      "credentials": {
        "twilioApi": {
          "id": "1ql53uMotmOaf9Zt",
          "name": "Voipia - Twilio"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('end_call').item.json.body.conversation.config.sessionVariables.email }}",
        "subject": "=Un petit budget, un grand projet 💰",
        "message": "={{ $json.mail }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        2544
      ],
      "id": "be771293-5a2b-4da1-92dd-056ae0e9ace2",
      "name": "R2 - Relance mail",
      "webhookId": "bce18620-a8c3-416d-8900-dad3dca2b124",
      "credentials": {
        "gmailOAuth2": {
          "id": "6RMCdmrdaqMZKbZQ",
          "name": "Norloc - Gmail"
        }
      }
    },
    {
      "parameters": {
        "from": "+33757598940",
        "to": "={{ $('end_call').item.json.body.conversation.config.sessionVariables.telephone }}",
        "message": "={{ $json.texto }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        640,
        2736
      ],
      "id": "ad4f3181-be6b-4ce5-af09-073111e15523",
      "name": "R2 - Prévenir du call",
      "credentials": {
        "twilioApi": {
          "id": "1ql53uMotmOaf9Zt",
          "name": "Voipia - Twilio"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4d4871f-ff7d-4941-a518-6b08d0716925",
              "name": "texto",
              "value": "=Bonjour {{ $json.body.conversation.config.sessionVariables.prenom }}, avez-vous bien reçu mes messages précédents ?\n\nQu’en pensez-vous ? Si vous n’êtes pas intéressé, dites-le-moi et je vous retire de nos listes.\n\nMerci, Arthur de Norloc.",
              "type": "string"
            },
            {
              "id": "114db4ac-1878-44ab-b935-18803f8879c3",
              "name": "Délai jour prochain appel",
              "value": 5,
              "type": "number"
            },
            {
              "id": "ebc55d61-613d-4fc5-8d5f-f1583916a697",
              "name": "mail",
              "value": "=<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\"> <html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\"><head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"><meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"><meta name=\"format-detection\" content=\"telephone=no\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>On clôture votre dossier ?</title><style type=\"text/css\" emogrify=\"no\">#outlook a { padding:0; } .ExternalClass { width:100%; } .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; } table td { border-collapse: collapse; mso-line-height-rule: exactly; } .editable.image { font-size: 0 !important; line-height: 0 !important; } .nl2go_preheader { display: none !important; mso-hide:all !important; mso-line-height-rule: exactly; visibility: hidden !important; line-height: 0px !important; font-size: 0px !important; } body { width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; } img { outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; } a img { border:none; } table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; } th { font-weight: normal; text-align: left; } *[class=\"gmail-fix\"] { display: none !important; } </style><style type=\"text/css\" emogrify=\"no\"> @media (max-width: 600px) { .gmx-killpill { content: ' \\03D1';} } </style><style type=\"text/css\" emogrify=\"no\">@media (max-width: 600px) { .gmx-killpill { content: ' \\03D1';} .r0-o { border-style: solid !important; margin: 0 auto 0 auto !important; width: 320px !important } .r1-i { background-color: #ffffff !important } .r2-o { border-style: solid !important; margin: 0 auto 0 auto !important; width: 100% !important } .r3-c { box-sizing: border-box !important; display: block !important; valign: top !important; width: 100% !important } .r4-o { border-style: solid !important; width: 100% !important } .r5-o { border-style: solid !important; margin: 0 auto 0 0 !important; width: 100% !important } .r6-i { background-color: #fcfcff !important; padding-top: 15px !important; text-align: justify !important } body { -webkit-text-size-adjust: none } .nl2go-responsive-hide { display: none } .nl2go-body-table { min-width: unset !important } .mobshow { height: auto !important; overflow: visible !important; max-height: unset !important; visibility: visible !important } .resp-table { display: inline-table !important } .magic-resp { display: table-cell !important } } </style><style type=\"text/css\">p, h1, h2, h3, h4, ol, ul, li { margin: 0; } .nl2go-default-textstyle { color: #3b3f44; font-family: arial,helvetica,sans-serif; font-size: 16px; line-height: 1.5; word-break: break-word } .default-button { color: #ffffff; font-family: arial,helvetica,sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 1.15; text-decoration: none; word-break: break-word } a, a:link { color: #0092ff; text-decoration: underline } .default-heading1 { color: #1F2D3D; font-family: arial,helvetica,sans-serif; font-size: 36px; font-weight: 400; word-break: break-word } .default-heading2 { color: #1F2D3D; font-family: arial,helvetica,sans-serif; font-size: 32px; font-weight: 400; word-break: break-word } .default-heading3 { color: #1F2D3D; font-family: arial,helvetica,sans-serif; font-size: 24px; font-weight: 400; word-break: break-word } .default-heading4 { color: #1F2D3D; font-family: arial,helvetica,sans-serif; font-size: 18px; font-weight: 400; word-break: break-word } a[x-apple-data-detectors] { color: inherit !important; text-decoration: inherit !important; font-size: inherit !important; font-family: inherit !important; font-weight: inherit !important; line-height: inherit !important; } .no-show-for-you { border: none; display: none; float: none; font-size: 0; height: 0; line-height: 0; max-height: 0; mso-hide: all; overflow: hidden; table-layout: fixed; visibility: hidden; width: 0; } </style><!--[if mso]><xml> <o:OfficeDocumentSettings> <o:AllowPNG/> <o:PixelsPerInch>96</o:PixelsPerInch> </o:OfficeDocumentSettings> </xml><![endif]--><style type=\"text/css\">a:link{color: #0092ff; text-decoration: underline;}</style></head><body bgcolor=\"#ffffff\" text=\"#3b3f44\" link=\"#0092ff\" yahoo=\"fix\" style=\"background-color: #ffffff;\"> <table cellspacing=\"0\" cellpadding=\"0\" border=\"0\" role=\"presentation\" class=\"nl2go-body-table\" width=\"100%\" style=\"background-color: #ffffff; width: 100%;\"><tr><td> <table cellspacing=\"0\" cellpadding=\"0\" border=\"0\" role=\"presentation\" width=\"600\" align=\"center\" class=\"r0-o\" style=\"table-layout: fixed; width: 600px;\"><tr><td valign=\"top\" class=\"r1-i\" style=\"background-color: #ffffff;\"> <table cellspacing=\"0\" cellpadding=\"0\" border=\"0\" role=\"presentation\" width=\"100%\" align=\"center\" class=\"r2-o\" style=\"table-layout: fixed; width: 100%;\"><tr><th width=\"100%\" valign=\"top\" class=\"r3-c\" style=\"font-weight: normal;\"> <table cellspacing=\"0\" cellpadding=\"0\" border=\"0\" role=\"presentation\" width=\"100%\" align=\"left\" class=\"r5-o\" style=\"table-layout: fixed; width: 100%;\"><tr><td align=\"justify\" valign=\"top\" class=\"r6-i nl2go-default-textstyle\" style=\"color: #3b3f44; font-family: arial,helvetica,sans-serif; font-size: 16px; line-height: 1.5; word-break: break-word; background-color: #fcfcff; padding-top: 15px; text-align: justify;\"> <div><p style=\"margin: 0;\"><br> </p><p style=\"margin: 0;\">Bonjour {{ $json.body.conversation.config.sessionVariables.prenom }}, </p><p style=\"margin: 0;\">Je me permets de vous envoyer un dernier petit message avant de clôturer votre dossier. Je n’ai pas eu de retour à mes précédents mails, alors je voulais simplement savoir si <span style=\"color: #0d1539;\"><strong>votre projet immobilier était toujours d’actualité</strong></span><strong> ?</strong></p><p style=\"margin: 0;\"> </p><p style=\"margin: 0;\">Si c’est le cas, c’est le bon moment pour qu’on en discute : nous avons actuellement plusieurs projets en cours qui pourraient <span style=\"color: #0d1539;\"><strong>coller à votre profil et à votre budget</strong></span>.<br><br>Et grande nouvelle 🎉 <span style=\"color: #0d1539;\"><strong>Norloc s’étend partout en France, avec de nouvelles villes ouvertes</strong></span> et <span style=\"color: #0D1539;\"><strong>de belles opportunités clé en main</strong></span> disponibles dès maintenant. </p><p style=\"margin: 0;\"> </p><p style=\"margin: 0;\">👉 Vous pouvez aussi suivre nos actualités et projets en temps réel sur Instagram :</p><p style=\"margin: 0;\"><a href=\"https://www.instagram.com/norloc.co/\" style=\"color: #0092ff; text-decoration: underline;\">instagram.com/norloc.co</a></p><p style=\"margin: 0;\"> </p><p style=\"margin: 0;\">Si, au contraire, vous préférez mettre le projet sur pause, aucun souci : </p><p style=\"margin: 0;\">dites-le-moi simplement, pour <strong>qu'on puisse mettre votre dossier en attente</strong> sans vous relancer inutilement.</p><p style=\"margin: 0;\"> </p><p style=\"margin: 0;\">📅 Vous pouvez réserver un rapide créneau ici (même 10 minutes suffisent) :</p><p style=\"margin: 0;\">👉 <a href=\"https://norloc.co/prendre-rendez-vous-en-ligne\" style=\"color: #0092ff; text-decoration: underline;\">https://norloc.co/prendre-rendez-vous-en-ligne</a></p><p style=\"margin: 0;\"> </p><p style=\"margin: 0;\">Dans tous les cas, <strong>merci sincèrement pour le temps que vous nous avez accordé jusqu’ici.</strong></p><p style=\"margin: 0;\">Et si un jour vous souhaitez relancer votre projet, <strong>vous savez où nous trouver 😉</strong></p><p style=\"margin: 0;\"> </p><p style=\"margin: 0;\">Bien à vous,</p><p style=\"margin: 0;\">L’équipe Norloc</p><p style=\"margin: 0;\"> </p></div> </td> </tr></table></th> </tr></table></td> </tr></table></td> </tr></table></body></html>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        3328
      ],
      "id": "3b260589-8dc6-496f-8070-91bb979b5e8c",
      "name": "Param pour R3"
    },
    {
      "parameters": {
        "from": "+33757598940",
        "to": "={{ $('end_call').item.json.body.conversation.config.sessionVariables.telephone }}",
        "message": "={{ $json.texto }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        640,
        3504
      ],
      "id": "ceb21d22-3d52-4146-831a-8d6fd1867d72",
      "name": "R3 - Prévenir du call",
      "credentials": {
        "twilioApi": {
          "id": "1ql53uMotmOaf9Zt",
          "name": "Voipia - Twilio"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "norloc-arthur-callback-v2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        544
      ],
      "id": "a8f83b30-e79c-47dd-9c1b-6d9ad05b22f5",
      "name": "Callback",
      "webhookId": "cbca8bb3-0d08-4bc8-920b-7942e16fa5e5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "norloc-arthur-receive-sms",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        864
      ],
      "id": "dff2cbf5-36d3-4372-97a4-f1fe9d0f6e4b",
      "name": "Reception SMS",
      "webhookId": "ae129ae0-9e32-44fc-b260-0338ef41eaee"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        -32,
        864
      ],
      "id": "5109d468-663a-44cc-8da7-63d3ec6876b5",
      "name": "GetUserInfo - all",
      "credentials": {
        "pipedriveApi": {
          "id": "hybtEliIpMNfDqhV",
          "name": "Norloc - Pipedrive"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Récupération du numéro cible depuis \"Get transcript\"\nconst rawTargetNumber = $('Reception SMS').first().json.body.From || '';\n\n// Fonction pour extraire les 8 derniers chiffres d’un numéro\nconst extractLastDigits = (num) => {\n  return num.replace(/\\D/g, '').slice(-8);\n};\n\nconst targetLast8 = extractLastDigits(rawTargetNumber);\nconsole.log('Numéro recherché (brut) :', rawTargetNumber);\nconsole.log('Numéro recherché (8 derniers chiffres) :', targetLast8);\n// Parcours des deals retournés par la node Pipedrive\nfor (let deal of items) {\n  const phones = deal.json.person_id?.phone || [];\n\n  for (let phone of phones) {\n    const phoneLast8 = extractLastDigits(phone.value);\n\n    if (targetLast8 && targetLast8 === phoneLast8) {\n      return [{\n        json: {\n          matchedDealId: deal.json.id,\n          personName: deal.json.person_id.name,\n          matchedPhone: phone.value\n        }\n      }];\n    }\n  }\n}\n\n// Aucun match trouvé\nreturn [{\n  json: {\n    matchedDealId: null,\n    message: \"Aucun match sur les 8 derniers chiffres.\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        864
      ],
      "id": "8c60c9e9-9ad9-4777-8276-c7cdecdde9d4",
      "name": "Cherche dans Pipedrive l'ID du deal en échec"
    },
    {
      "parameters": {
        "sendTo": "={{ $('end_call').item.json.body.conversation.config.sessionVariables.email }}",
        "subject": "={{ $json.body.conversation.config.sessionVariables.prenom }}, on clôture votre dossier ? 💬",
        "message": "={{ $json.mail }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        640,
        3312
      ],
      "id": "7e68db96-e7fb-44c2-a382-854b01dccf3b",
      "name": "R3 - Relance mail",
      "webhookId": "5ac8e8d6-4bd1-46ed-899f-c0aea39de376",
      "credentials": {
        "gmailOAuth2": {
          "id": "6RMCdmrdaqMZKbZQ",
          "name": "Norloc - Gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "agent_arthur_prospects",
        "filters": {
          "conditions": [
            {
              "keyName": "external_deal_id",
              "condition": "eq",
              "keyValue": "={{ $('SendConfirmation').item.json.body.functionCall.args.dealId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "converted"
            },
            {
              "fieldId": "converted_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        416,
        224
      ],
      "id": "fff28768-7174-4c28-8298-ae10a51f1bf3",
      "name": "update prospects as converted",
      "credentials": {
        "supabaseApi": {
          "id": "XsVol30xDDqWJuLk",
          "name": "Voipia - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "agent_arthur_prospects",
        "filters": {
          "conditions": [
            {
              "keyName": "external_deal_id",
              "condition": "eq",
              "keyValue": "={{ $('Callback').item.json.body.functionCall.args.dealId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "callback"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -32,
        640
      ],
      "id": "8ecd4ef3-f06c-4c5c-ad6a-37683103ef72",
      "name": "update prospects as callback",
      "credentials": {
        "supabaseApi": {
          "id": "XsVol30xDDqWJuLk",
          "name": "Voipia - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "agent_arthur_prospects",
        "filters": {
          "conditions": [
            {
              "keyName": "external_deal_id",
              "keyValue": "={{ $json.body.functionCall.args.dealId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -256,
        544
      ],
      "id": "c653fd98-0b87-4716-8134-deb43549c217",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "XsVol30xDDqWJuLk",
          "name": "Voipia - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "agent_arthur_prospect_sequences",
        "filters": {
          "conditions": [
            {
              "keyName": "prospect_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "callback"
            },
            {
              "fieldId": "next_action_at",
              "fieldValue": "={{ $('Callback').item.json.body.functionCall.args.callback_datetime }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -32,
        448
      ],
      "id": "0b98c1d1-f459-4166-b223-6482e2a97d82",
      "name": "update prospects_sequence as callback",
      "credentials": {
        "supabaseApi": {
          "id": "XsVol30xDDqWJuLk",
          "name": "Voipia - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "agent_arthur_prospect_sequences",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.conversation.config.sessionVariables.sequence_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "current_attempt",
              "fieldValue": "={{ $json.body.conversation.config.sessionVariables.nb_tentative +1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -32,
        1056
      ],
      "id": "c128ad17-6f1e-444a-9ced-bd5f9286e0f2",
      "name": "Update a row - sequences",
      "credentials": {
        "supabaseApi": {
          "id": "XsVol30xDDqWJuLk",
          "name": "Voipia - Supabase"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.conversation.postConversationAnalysis.extractedData.callClassification }}",
                    "rightValue": "appointment_scheduled",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "374651d4-a87a-4548-8f18-862431b86c75"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment_scheduled"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f96fff4c-340c-4fb3-8a91-a66f7b515d7b",
                    "leftValue": "={{ $json.body.conversation.postConversationAnalysis.extractedData.callClassification }}",
                    "rightValue": "callback_requested",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "callback_requested"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1d5da250-3b23-43ac-9d8c-4736bad8853f",
                    "leftValue": "={{ $json.body.conversation.postConversationAnalysis.extractedData.callClassification }}",
                    "rightValue": "appointment_refused",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "appointment_refused"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "462c80ec-8c36-4dde-b9c2-e45d1cfe4404",
                    "leftValue": "={{ $json.body.conversation.postConversationAnalysis.extractedData.callClassification }}",
                    "rightValue": "not_interested",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not_interested"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "89208d37-29a5-48a3-ad6e-5033f4cb3721",
                    "leftValue": "={{ $json.body.conversation.postConversationAnalysis.extractedData.callClassification }}",
                    "rightValue": "do_not_call",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "do_not_call"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b58e8a61-2015-41cd-a090-12848c4cc7b4",
                    "leftValue": "={{ $json.body.conversation.postConversationAnalysis.extractedData.callClassification }}",
                    "rightValue": "voicemail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voicemail"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "48d0255d-c7e1-4b40-be0d-e609a016a177",
                    "leftValue": "={{ $json.body.conversation.postConversationAnalysis.extractedData.callClassification }}",
                    "rightValue": "too_short",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "too_short"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d1278725-8908-416e-ba7b-08051ada144b",
                    "leftValue": "={{ $json.body.conversation.postConversationAnalysis.extractedData.callClassification }}",
                    "rightValue": "busy",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "busy"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d4945776-0270-442c-b620-d933125a4e0b",
                    "leftValue": "={{ $json.body.conversation.postConversationAnalysis.extractedData.callClassification }}",
                    "rightValue": "no_answer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no_answer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2ce6568f-bf78-4dd8-888e-5128ceb571a9",
                    "leftValue": "={{ $json.body.conversation.postConversationAnalysis.extractedData.callClassification }}",
                    "rightValue": "invalid_number",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "invalid_number"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "95b506bb-aad2-4df4-8ddf-f2bb9adad8f9",
                    "leftValue": "={{ $json.body.conversation.postConversationAnalysis.extractedData.callClassification }}",
                    "rightValue": "call_failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "call_failed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -32,
        1712
      ],
      "id": "c11ecf74-d796-4c12-8ba1-cb1f25fe3289",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "note",
        "content": "={{ $json.crmNote }}",
        "additionalFields": {
          "deal_id": "={{ $('end_call').item.json.body.conversation.config.sessionVariables.dealId }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        192,
        1440
      ],
      "id": "3a3ebd8c-1d95-409a-bf20-c7446e12e745",
      "name": "Create note",
      "credentials": {
        "pipedriveApi": {
          "id": "hybtEliIpMNfDqhV",
          "name": "Norloc - Pipedrive"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Récupération des données\nconst data = $input.first().json.body.conversation;\n\nconst prenom = data.sessionVariables?.prenom || 'Inconnu';\nconst nom = data.sessionVariables?.nom || '';\nconst dateTime = new Date(data.createdAt);\nconst durationSec = data.stats.callDurationSeconds;\nconst classification = data.postConversationAnalysis.extractedData.callClassification;\nconst sentiment = data.postConversationAnalysis.sentiment;\nconst summary = data.postConversationAnalysis.summary;\n\n// Formatage date et heure\nconst dateFormatted = dateTime.toLocaleDateString('fr-FR', { \n  day: '2-digit', \n  month: '2-digit', \n  year: 'numeric' \n});\nconst timeFormatted = dateTime.toLocaleTimeString('fr-FR', { \n  hour: '2-digit', \n  minute: '2-digit' \n});\n\n// Formatage durée\nconst durationMin = Math.floor(durationSec / 60);\nconst durationSecRest = durationSec % 60;\nconst durationFormatted = durationMin > 0 \n  ? `${durationMin}min ${durationSecRest}s` \n  : `${durationSecRest}s`;\n\n// Dictionnaires de traduction\nconst classificationMap = {\n  'appointment_scheduled': 'RDV programmé ✅',\n  'callback_requested': 'Rappel demandé 🔄',\n  'appointment_refused': 'RDV refusé ❌',\n  'not_interested': 'Pas intéressé 🚫',\n  'do_not_call': 'Ne plus appeler ⛔',\n  'voicemail': 'Messagerie vocale 📧',\n  'too_short': 'Appel trop court ⚡',\n  'no_answer': 'Pas de réponse 📵',\n  'busy': 'Ligne occupée 📞',\n  'invalid_number': 'Numéro invalide ⚠️',\n  'call_failed': 'Échec technique 🔧'\n};\n\nconst sentimentMap = {\n  'positive': '😊 Positif',\n  'negative': '😞 Négatif',\n  'neutral': '😐 Neutre'\n};\n\nconst classificationText = classificationMap[classification] || classification;\nconst sentimentText = sentimentMap[sentiment] || sentiment;\n\n// Assemblage de la note\nconst note = `📞 Appel Arthur - ${dateFormatted} à ${timeFormatted}\n👤 Contact : ${prenom} ${nom}\n⏱️ Durée : ${durationFormatted}\n📊 Résultat : ${classificationText}\n😊 Sentiment : ${sentimentText}\n\n💬 Résumé : ${summary}`;\n\n// Retour du résultat\nreturn { crmNote: note };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        1440
      ],
      "id": "a263c621-9aa1-4015-8f73-deefd25fa9d5",
      "name": "Mise en Forme Note"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "agent_arthur_prospect_sequences",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('VM - Quel stade').item.json.body.conversation.config.sessionVariables.sequence_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "next_action_at",
              "fieldValue": "={{ $now.plus({days: $json[\"Délai jour prochain appel\"]}) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        2352
      ],
      "id": "9f81c16e-4d0f-43c9-bd69-a88f12992def",
      "name": "Update a row - sequences 1",
      "credentials": {
        "supabaseApi": {
          "id": "XsVol30xDDqWJuLk",
          "name": "Voipia - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "agent_arthur_prospect_sequences",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('VM - Quel stade').item.json.body.conversation.config.sessionVariables.sequence_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "next_action_at",
              "fieldValue": "={{ $now.plus({days: $json[\"Délai jour prochain appel\"]}) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        2928
      ],
      "id": "e9876619-0973-4d5d-b139-09211537235b",
      "name": "Update a row - sequences 2",
      "credentials": {
        "supabaseApi": {
          "id": "XsVol30xDDqWJuLk",
          "name": "Voipia - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "agent_arthur_prospect_sequences",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('VM - Quel stade').item.json.body.conversation.config.sessionVariables.sequence_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "next_action_at",
              "fieldValue": "={{ $now.plus({days: $json[\"Délai jour prochain appel\"]}) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        3120
      ],
      "id": "e451e63f-8169-461e-9274-037ce58f5b5b",
      "name": "Update a row - sequences ",
      "credentials": {
        "supabaseApi": {
          "id": "XsVol30xDDqWJuLk",
          "name": "Voipia - Supabase"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        192,
        1824
      ],
      "id": "2e9de263-b3e6-4eb0-8f6f-2f085d600bf5",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09M41CM9CJ",
          "mode": "list",
          "cachedResultName": "n8n-bot"
        },
        "text": "Arthur - Norloc Vient booker un rendez-vous !",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        192,
        1632
      ],
      "id": "8b601086-57bb-4da6-b4f3-e97506dd620a",
      "name": "Send a message",
      "webhookId": "63fdcda0-d325-4b8d-b774-3f26978ef7fe",
      "credentials": {
        "slackOAuth2Api": {
          "id": "FEty3WAH8ihwpu1a",
          "name": "Voipia"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "401ed187-3493-41e2-9071-d9cf3114a35c",
              "leftValue": "={{ $json.body.Body.toUpperCase() }}",
              "rightValue": "STOP",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        864
      ],
      "id": "8a0f349f-4585-4f11-a44e-588a382948c8",
      "name": "Contient \"STOP\" ?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE agent_arthur_prospects\nSET ai_analysis = jsonb_set(\n  ai_analysis,\n  '{notes_importantes}',\n  $1::jsonb\n)\nWHERE id = $2::uuid",
        "options": {
          "queryReplacement": "={{ JSON.stringify($json.body.conversation.postConversationAnalysis.summary) }}, {{ $json.body.conversation.config.sessionVariables.prospect_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        1248
      ],
      "id": "188fbe87-8be7-4c17-a108-b00a1074c33a",
      "name": "update notes importantes",
      "credentials": {
        "postgres": {
          "id": "LTniPIVTLanJOFsN",
          "name": "Voipia - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $('end_call').item.json.body.conversation.config.sessionVariables.dealId }}",
        "updateFields": {
          "status": "lost"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        336,
        3680
      ],
      "id": "7c69400c-8a42-47ba-bac3-211f6cdec490",
      "name": "Deal Status = Lost1",
      "credentials": {
        "pipedriveApi": {
          "id": "hybtEliIpMNfDqhV",
          "name": "Norloc - Pipedrive"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $('end_call').item.json.body.conversation.config.sessionVariables.dealId }}",
        "updateFields": {
          "status": "lost"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        704,
        880
      ],
      "id": "f0322c96-f5b6-4bb5-948d-2fb191f107a0",
      "name": "Deal Status = Lost2",
      "credentials": {
        "pipedriveApi": {
          "id": "hybtEliIpMNfDqhV",
          "name": "Norloc - Pipedrive"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "agent_arthur_prospects",
        "filters": {
          "conditions": [
            {
              "keyName": "external_deal_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "lost"
            },
            {
              "fieldId": "lost_reason",
              "fieldValue": "=sms_stop"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        928,
        880
      ],
      "id": "1ca50808-b710-488d-934c-5a9070a658f7",
      "name": "update prospects as lost - sms",
      "credentials": {
        "supabaseApi": {
          "id": "XsVol30xDDqWJuLk",
          "name": "Voipia - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "agent_arthur_prospects",
        "filters": {
          "conditions": [
            {
              "keyName": "external_deal_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "lost"
            },
            {
              "fieldId": "lost_reason",
              "fieldValue": "=exceeded_attempts"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        1968
      ],
      "id": "a36a980f-95db-4ad7-a287-47187722df8e",
      "name": "update prospects as lost - asked",
      "credentials": {
        "supabaseApi": {
          "id": "XsVol30xDDqWJuLk",
          "name": "Voipia - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "agent_arthur_prospects",
        "filters": {
          "conditions": [
            {
              "keyName": "external_deal_id",
              "condition": "eq",
              "keyValue": "={{ $('Switch').item.json.body.conversation.config.sessionVariables.dealId }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "lost"
            },
            {
              "fieldId": "lost_reason",
              "fieldValue": "=exceeded_attempt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        3680
      ],
      "id": "016299f3-7237-45f9-8210-d321bfa79e52",
      "name": "update prospects as lost - max attempt",
      "credentials": {
        "supabaseApi": {
          "id": "XsVol30xDDqWJuLk",
          "name": "Voipia - Supabase"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "SendConfirmation": {
      "main": [
        [
          {
            "node": "Formatte les date de début et fin de réu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Envoi mail confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatte les date de début et fin de réu": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "end_call": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mise en Forme Note",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update a row - sequences",
            "type": "main",
            "index": 0
          },
          {
            "node": "update notes importantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VM - Quel stade": {
      "main": [
        [
          {
            "node": "Param pour R1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Param pour R2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Param pour R3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deal Status = Lost1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Param pour R2": {
      "main": [
        [
          {
            "node": "R2 - Relance mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "R2 - Prévenir du call",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update a row - sequences 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Param pour R1": {
      "main": [
        [
          {
            "node": "R1 - Prévenir du call",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update a row - sequences 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "R1 - Prévenir du call": {
      "main": [
        []
      ]
    },
    "R2 - Relance mail": {
      "main": [
        []
      ]
    },
    "R2 - Prévenir du call": {
      "main": [
        []
      ]
    },
    "Param pour R3": {
      "main": [
        [
          {
            "node": "R3 - Prévenir du call",
            "type": "main",
            "index": 0
          },
          {
            "node": "R3 - Relance mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update a row - sequences ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoi mail confirmation": {
      "main": [
        [
          {
            "node": "update prospects as converted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reception SMS": {
      "main": [
        [
          {
            "node": "Contient \"STOP\" ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetUserInfo - all": {
      "main": [
        [
          {
            "node": "Cherche dans Pipedrive l'ID du deal en échec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cherche dans Pipedrive l'ID du deal en échec": {
      "main": [
        [
          {
            "node": "Deal Status = Lost2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "update prospects as callback",
            "type": "main",
            "index": 0
          },
          {
            "node": "update prospects_sequence as callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create note": {
      "main": [
        []
      ]
    },
    "Mise en Forme Note": {
      "main": [
        [
          {
            "node": "Create note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deal Status = Lost",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deal Status = Lost",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deal Status = Lost",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VM - Quel stade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VM - Quel stade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VM - Quel stade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VM - Quel stade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VM - Quel stade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VM - Quel stade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deal Status = Lost": {
      "main": [
        [
          {
            "node": "update prospects as lost - asked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contient \"STOP\" ?": {
      "main": [
        [
          {
            "node": "GetUserInfo - all",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row - sequences": {
      "main": [
        []
      ]
    },
    "Deal Status = Lost1": {
      "main": [
        [
          {
            "node": "update prospects as lost - max attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deal Status = Lost2": {
      "main": [
        [
          {
            "node": "update prospects as lost - sms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "SGSovZYF1Tz9a2Rp"
  },
  "versionId": "5f1d2973-3e93-4e94-804f-7c9117a0f4ac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "27a6c874b68318cdae94f2a582a89e9844ae4d79131f1180544dc868ad3bf428"
  },
  "id": "hmIdWlyuVbKpEZ4r",
  "tags": []
}