features/etude_arthur/[NorlocXArthur] 2 - add new deal v2 (1).json
{
  "name": "[NorlocXArthur] 2 - add new deal v2",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "filters": {
          "stage_id": 127,
          "status": "open"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        240,
        -592
      ],
      "id": "07668b8e-6233-4703-a5b3-cc3bcb4e2a39",
      "name": "Get many deals",
      "credentials": {
        "pipedriveApi": {
          "id": "hybtEliIpMNfDqhV",
          "name": "Norloc - Pipedrive"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "getAll",
        "additionalFields": {
          "deal_id": "={{ $('Get many deals').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1120,
        -720
      ],
      "id": "0bf0fdcb-54b1-44e4-a139-1a4dbcaae398",
      "name": "Get many notes",
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "hybtEliIpMNfDqhV",
          "name": "Norloc - Pipedrive"
        }
      }
    },
    {
      "parameters": {
        "resource": "dealActivity",
        "dealId": "={{ $('Get many deals').item.json.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1136,
        -416
      ],
      "id": "99e4c7bb-800b-4982-9e54-fbf8c5d86d14",
      "name": "Get many deal activities",
      "alwaysOutputData": true,
      "credentials": {
        "pipedriveApi": {
          "id": "hybtEliIpMNfDqhV",
          "name": "Norloc - Pipedrive"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1360,
        -576
      ],
      "id": "6c7e1ca5-1e78-4a11-bd49-0ab96eb9af48",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "prospect_data",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1584,
        -560
      ],
      "id": "fe3fe73c-9ff7-483c-b098-71ea8b29aa37",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Tu es un expert en analyse de prospects pour {{ $('Set Client Variables').item.json.client_name }} ({{ $('Set Client Variables').item.json.proposition_valeur }}).\nAnalyse ces données et génère un JSON structuré pour Arthur, l'agent de réactivation.\n\nCONTEXTE MÉTIER :\n- {{ $('Set Client Variables').item.json.client_name }} = {{ $('Set Client Variables').item.json.proposition_valeur }}\n- Segments : {{ $('Set Client Variables').item.json.segments_possibles }}\n- Arthur rappelle les prospects dormants pour réactiver ou disqualifier\n- deployment_id d'Arthur : {{ $('Set Client Variables').item.json.deployment_id }}\n\nANALYSE À PRODUIRE :\n1. **IDENTIFICATION DU SEGMENT**\n   - Détermine : {{ $('Set Client Variables').item.json.segments_possibles }}\n   - Base-toi sur l'historique des interactions\n\n2. **CHRONOLOGIE SYNTHÉTIQUE**\n   - Premier contact (date + interlocuteur)\n   - Dernière interaction significative\n   - Délai depuis dernier contact\n   - Pattern de communication (réactif/fuyant/silencieux)\n\n3. **CONTEXTE POUR ARTHUR**\n   - Avec qui la personne a déjà parlé ({{ $('Set Client Variables').item.json.interlocuteurs_equipe }})\n   - Type d'interactions précédentes (appels courts/longs, notes, activités)\n   - Niveau d'engagement passé (répondait/évitait les appels)\n\n4. **STRATÉGIE DE RAPPEL**\n   - Approche recommandée (douce/directe/dernière chance)\n   - Points d'accroche personnalisés\n   - Objections probables à anticiper\n   - Probabilité de succès (faible/moyenne/bonne)\n\nFORMAT DE SORTIE :\nLe JSON DOIT contenir 2 objets : \"prospect\" et \"sequence\"\n```json\n{\n  \"prospect\": {\n    \"deployment_id\": \"{{ $('Set Client Variables').item.json.deployment_id }}\",\n    \"external_deal_id\": \"extraire depuis prospect_data[1].id (string)\",\n    \"external_source\": \"pipedrive\",\n    \"external_user_id\": \"extraire depuis prospect_data[1].person_id.value (string)\",\n    \"first_name\": \"extraire prénom depuis person_name\",\n    \"last_name\": \"extraire nom depuis person_name\",\n    \"email\": \"extraire depuis person_id.email[0].value ou null\",\n    \"phone_number\": \"extraire depuis person_id.phone[0].value (format E.164 : +33...)\",\n    \"company_name\": \"extraire depuis org_name ou null\",\n    \"status\": \"active\"\n  },\n  \"sequence\": {\n    \"deployment_id\": \"{{ $('Set Client Variables').item.json.deployment_id }}\",\n    \"sequence_number\": {{ $('Set Client Variables').item.json.sequence_number }},\n    \"max_attempts\": {{ $('Set Client Variables').item.json.max_attempts }},\n    \"current_attempt\": 0,\n    \"status\": \"active\",\n    \"next_action_at\": \"MAINTENANT au format ISO 8601 (ex: 2025-10-16T14:30:00Z)\"\n  },\n  \"ai_analysis\": {\n    \"segment_detecte\": \"Lead chaud|Lead tiède|Lead gelé\",\n    \"delai_contact\": \"X mois|X semaines\",\n    \"dernier_interlocuteur\": \"{{ $('Set Client Variables').item.json.interlocuteurs_equipe }}\",\n    \"historique_resume\": \"En 2-3 phrases : ce qui s'est passé chronologiquement\",\n    \"comportement_detecte\": \"Réactif|Évitant|Silencieux|Intéressé mais occupé\",\n    \"approche_arthur\": \"Comment Arthur doit aborder ce prospect\",\n    \"points_accroche\": [\"Point 1 personnalisé\", \"Point 2 si applicable\"],\n    \"objections_probables\": [\"Objection 1\", \"Objection 2 si applicable\"],\n    \"probabilite_succes\": \"faible|moyenne|bonne\",\n    \"recommandation\": \"Réactivation douce|Approche directe|Dernière tentative|Disqualifier\",\n    \"notes_importantes\": \"Détails spécifiques à mentionner\"\n  }\n}\n```\n\nINSTRUCTIONS SPÉCIALES :\n- Extrais PRÉCISÉMENT les données de prospect_data[1] pour remplir l'objet \"prospect\"\n- Le numéro de téléphone DOIT être au format E.164 (+33XXXXXXXXX)\n- next_action_at DOIT être la date/heure ACTUELLE au format ISO 8601 avec timezone UTC\n- Si tu vois \"NRP\" dans les notes = Lead tiède (Non Répondu Présumé)\n- Appels de moins de 30 secondes = pas de vraie conversation\n- Appels manqués répétés = prospect évite ou injoignable\n- Notes de {{ $('Set Client Variables').item.json.interlocuteurs_equipe }} = prospect probablement qualifié (Lead chaud)\n- Aircall = système téléphonique, focus sur durée des appels\n\n⚠️ CRITIQUE : Retourne UNIQUEMENT le JSON, sans texte avant ou après, sans balises markdown.\n\nDONNÉES PROSPECT :\n{{JSON.stringify($json.prospect_data, null, 2)}}",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1808,
        -560
      ],
      "id": "f0b07449-d3c1-4a74-a1ab-09aa10af2390",
      "name": "Resume_prospect",
      "credentials": {
        "openAiApi": {
          "id": "obgWqWjdu7IKufUy",
          "name": "OpenAi Tylian"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        16,
        -496
      ],
      "id": "5122eced-e8c6-45b2-b209-b6a350f6a36e",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16,
        -688
      ],
      "id": "55df421c-d33a-46e8-9c4a-378f8316cdb5",
      "name": "new_prospect"
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $('Prepa données sequences').item.json.agent_config.dealId }}",
        "updateFields": {
          "stage_id": 169
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3040,
        -672
      ],
      "id": "a7dc5cb4-ee67-429b-b6f7-66923586185e",
      "name": "Bouge le deal vers reactivation en cours",
      "credentials": {
        "pipedriveApi": {
          "id": "hybtEliIpMNfDqhV",
          "name": "Norloc - Pipedrive"
        }
      }
    },
    {
      "parameters": {
        "tableId": "agent_arthur_prospects",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "deployment_id",
              "fieldValue": "={{ $json.prospect_data.deployment_id }}"
            },
            {
              "fieldId": "external_source",
              "fieldValue": "={{ $json.prospect_data.external_source }}"
            },
            {
              "fieldId": "external_deal_id",
              "fieldValue": "={{ $json.prospect_data.external_deal_id }}"
            },
            {
              "fieldId": "external_user_id",
              "fieldValue": "={{ $json.prospect_data.external_user_id }}"
            },
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $json.prospect_data.first_name }}"
            },
            {
              "fieldId": "last_name",
              "fieldValue": "={{ $json.prospect_data.last_name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.prospect_data.email }}"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $json.prospect_data.phone_number }}"
            },
            {
              "fieldId": "company_name",
              "fieldValue": "={{ $json.prospect_data.company_name }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.prospect_data.status }}"
            },
            {
              "fieldId": "ai_analysis",
              "fieldValue": "={{ $json.prospect_data.ai_analysis }}"
            },
            {
              "fieldId": "client_slug",
              "fieldValue": "={{ $('Set Client Variables').item.json.client_slug }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2368,
        -560
      ],
      "id": "b07cc9a8-c688-4bad-b8ed-949f04c4c792",
      "name": "Create a prospect",
      "credentials": {
        "supabaseApi": {
          "id": "XsVol30xDDqWJuLk",
          "name": "Voipia - Supabase"
        }
      }
    },
    {
      "parameters": {
        "tableId": "agent_arthur_prospect_sequences",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "prospect_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "deployment_id",
              "fieldValue": "={{ $json.deployment_id }}"
            },
            {
              "fieldId": "sequence_number",
              "fieldValue": "={{ $('Set Client Variables').item.json.sequence_number }}"
            },
            {
              "fieldId": "max_attempts",
              "fieldValue": "={{ $('Set Client Variables').item.json.max_attempts }}"
            },
            {
              "fieldId": "current_attempt",
              "fieldValue": "0"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $('Resume_prospect').item.json.message.content.sequence.status }}"
            },
            {
              "fieldId": "next_action_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2816,
        -560
      ],
      "id": "b947bb11-c130-4536-8217-11840330067d",
      "name": "Create a sequence",
      "credentials": {
        "supabaseApi": {
          "id": "XsVol30xDDqWJuLk",
          "name": "Voipia - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Récupération des données du deal Pipedrive\nconst deal = $input.first().json;\n\n// ========================================\n// 1️⃣ EXTRACTION DES DONNÉES\n// ========================================\n\n// Extraction du numéro de téléphone (plusieurs emplacements possibles dans Pipedrive)\nlet rawPhone = null;\n\n// Cas 1 : person_id.phone (array d'objets)\nif (deal.person_id?.phone && Array.isArray(deal.person_id.phone) && deal.person_id.phone.length > 0) {\n  // Prioriser le numéro primary, sinon prendre le premier\n  const primaryPhone = deal.person_id.phone.find(p => p.primary === true);\n  rawPhone = primaryPhone?.value || deal.person_id.phone[0]?.value;\n}\n\n// Cas 2 : phone direct (string)\nif (!rawPhone && deal.phone) {\n  rawPhone = deal.phone;\n}\n\n// Cas 3 : person_id.value avec phone\nif (!rawPhone && deal.person_id?.value) {\n  rawPhone = deal.person_id.value;\n}\n\n// Extraction de l'email (plusieurs emplacements possibles)\nlet email = null;\n\n// Cas 1 : person_id.email (array d'objets)\nif (deal.person_id?.email && Array.isArray(deal.person_id.email) && deal.person_id.email.length > 0) {\n  const primaryEmail = deal.person_id.email.find(e => e.primary === true);\n  email = primaryEmail?.value || deal.person_id.email[0]?.value;\n}\n\n// Cas 2 : email direct\nif (!email && deal.email) {\n  email = deal.email;\n}\n\n// ========================================\n// 2️⃣ NORMALISATION DU NUMÉRO\n// ========================================\n\n/**\n * Normalise un numéro français vers le format E.164 (+33XXXXXXXXX)\n * Gère les formats :\n * - 06XXXXXXXX ou 07XXXXXXXX (format local)\n * - +336XXXXXXXX ou +337XXXXXXXX (format international)\n * - 00336XXXXXXXX ou 00337XXXXXXXX (format international alternatif)\n * - 336XXXXXXXX ou 337XXXXXXXX (sans préfixe)\n * - Avec espaces, tirets, points : 06 12 34 56 78, 06-12-34-56-78, etc.\n */\nfunction normalizeFrenchPhone(phone) {\n  if (!phone || typeof phone !== 'string') {\n    return null;\n  }\n  \n  // Nettoyer le numéro : supprimer tous les caractères non numériques sauf le +\n  let cleaned = phone.trim().replace(/[\\s\\-\\.\\(\\)]/g, '');\n  \n  // Cas 1 : Format +33XXXXXXXXX (déjà bon format)\n  if (/^\\+33[67]\\d{8}$/.test(cleaned)) {\n    return cleaned;\n  }\n  \n  // Cas 2 : Format 0033XXXXXXXXX → +33XXXXXXXXX\n  if (/^0033[67]\\d{8}$/.test(cleaned)) {\n    return '+' + cleaned.substring(2);\n  }\n  \n  // Cas 3 : Format 33XXXXXXXXX → +33XXXXXXXXX\n  if (/^33[67]\\d{8}$/.test(cleaned)) {\n    return '+' + cleaned;\n  }\n  \n  // Cas 4 : Format 0[67]XXXXXXXX → +33[67]XXXXXXXX\n  if (/^0[67]\\d{8}$/.test(cleaned)) {\n    return '+33' + cleaned.substring(1);\n  }\n  \n  // Cas 5 : Format [67]XXXXXXXX (manque les zéros) → +33[67]XXXXXXXX\n  if (/^[67]\\d{8}$/.test(cleaned)) {\n    return '+33' + cleaned;\n  }\n  \n  // Si aucun format ne correspond, retourner null\n  return null;\n}\n\n// Normalisation du numéro\nconst normalizedPhone = rawPhone ? normalizeFrenchPhone(rawPhone) : null;\n\n// ========================================\n// 3️⃣ VALIDATION DU NUMÉRO\n// ========================================\n\n// Vérifier que c'est bien un mobile français valide (06 ou 07)\nconst isFrenchMobile = normalizedPhone !== null && /^\\+33[67]\\d{8}$/.test(normalizedPhone);\n\n// ========================================\n// 4️⃣ VALIDATION DE L'EMAIL\n// ========================================\n\n// Regex simple mais robuste pour valider l'email\nconst isValidEmail = email && /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n// ========================================\n// 5️⃣ DÉTECTION DU FORMAT ORIGINAL\n// ========================================\n\nlet originalFormat = 'N/A';\nif (rawPhone) {\n  if (/^\\+33/.test(rawPhone)) {\n    originalFormat = '+33 (international)';\n  } else if (/^0033/.test(rawPhone)) {\n    originalFormat = '0033 (international alt)';\n  } else if (/^33/.test(rawPhone)) {\n    originalFormat = '33 (sans +)';\n  } else if (/^0[67]/.test(rawPhone)) {\n    originalFormat = '06/07 (local)';\n  } else {\n    originalFormat = 'Format inconnu';\n  }\n}\n\n// ========================================\n// 6️⃣ RETOUR DES RÉSULTATS\n// ========================================\n\nreturn {\n  // Données validées et normalisées\n  phone_normalized: normalizedPhone,\n  email: email || null,\n  \n  // Flags de validation\n  has_valid_french_mobile: isFrenchMobile,\n  has_valid_email: isValidEmail,\n  \n  // Informations de débogage\n  raw_phone: rawPhone || null,\n  original_phone_format: originalFormat,\n  \n  // Informations du deal (passthrough)\n  deal_id: deal.id,\n  deal_title: deal.title,\n  person_name: deal.person_id?.name || deal.person_name || 'N/A',\n  stage_id: deal.stage_id,\n  \n  // Métadonnées pour logging\n  validation_timestamp: new Date().toISOString(),\n  \n  // IMPORTANT : Conserver toutes les données originales pour la suite du workflow\n  original_deal_data: deal\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -432
      ],
      "id": "a3458c14-bf87-4d69-9401-f19aaf9057fb",
      "name": "Numéro fr et mail correct"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "de41b306-2bc1-4fcc-af2b-ed02a6a7119d",
              "leftValue": "={{ $('Numéro fr et mail correct').item.json.has_valid_french_mobile }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        -432
      ],
      "id": "0cf1998f-1c26-4658-b283-3c24f68eb91f",
      "name": "Numéro fr valide ?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b1364009-665c-488a-8cfd-5584dfe4bcc4",
              "leftValue": "={{ $json.has_valid_email }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1136,
        -160
      ],
      "id": "a9101aa5-0905-4cd7-bf30-28ce0fec6dfb",
      "name": "mail valide ?"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.person_name }}, on clôture votre dossier ? 💬",
        "message": "=<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\"> <html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\"><head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\"><meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"><meta name=\"format-detection\" content=\"telephone=no\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>On clôture votre dossier ?</title><style type=\"text/css\" emogrify=\"no\">#outlook a { padding:0; } .ExternalClass { width:100%; } .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; } table td { border-collapse: collapse; mso-line-height-rule: exactly; } .editable.image { font-size: 0 !important; line-height: 0 !important; } .nl2go_preheader { display: none !important; mso-hide:all !important; mso-line-height-rule: exactly; visibility: hidden !important; line-height: 0px !important; font-size: 0px !important; } body { width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; } img { outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; } a img { border:none; } table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; } th { font-weight: normal; text-align: left; } *[class=\"gmail-fix\"] { display: none !important; } </style><style type=\"text/css\" emogrify=\"no\"> @media (max-width: 600px) { .gmx-killpill { content: ' \\03D1';} } </style><style type=\"text/css\" emogrify=\"no\">@media (max-width: 600px) { .gmx-killpill { content: ' \\03D1';} .r0-o { border-style: solid !important; margin: 0 auto 0 auto !important; width: 320px !important } .r1-i { background-color: #ffffff !important } .r2-o { border-style: solid !important; margin: 0 auto 0 auto !important; width: 100% !important } .r3-c { box-sizing: border-box !important; display: block !important; valign: top !important; width: 100% !important } .r4-o { border-style: solid !important; width: 100% !important } .r5-o { border-style: solid !important; margin: 0 auto 0 0 !important; width: 100% !important } .r6-i { background-color: #fcfcff !important; padding-top: 15px !important; text-align: justify !important } body { -webkit-text-size-adjust: none } .nl2go-responsive-hide { display: none } .nl2go-body-table { min-width: unset !important } .mobshow { height: auto !important; overflow: visible !important; max-height: unset !important; visibility: visible !important } .resp-table { display: inline-table !important } .magic-resp { display: table-cell !important } } </style><style type=\"text/css\">p, h1, h2, h3, h4, ol, ul, li { margin: 0; } .nl2go-default-textstyle { color: #3b3f44; font-family: arial,helvetica,sans-serif; font-size: 16px; line-height: 1.5; word-break: break-word } .default-button { color: #ffffff; font-family: arial,helvetica,sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 1.15; text-decoration: none; word-break: break-word } a, a:link { color: #0092ff; text-decoration: underline } .default-heading1 { color: #1F2D3D; font-family: arial,helvetica,sans-serif; font-size: 36px; font-weight: 400; word-break: break-word } .default-heading2 { color: #1F2D3D; font-family: arial,helvetica,sans-serif; font-size: 32px; font-weight: 400; word-break: break-word } .default-heading3 { color: #1F2D3D; font-family: arial,helvetica,sans-serif; font-size: 24px; font-weight: 400; word-break: break-word } .default-heading4 { color: #1F2D3D; font-family: arial,helvetica,sans-serif; font-size: 18px; font-weight: 400; word-break: break-word } a[x-apple-data-detectors] { color: inherit !important; text-decoration: inherit !important; font-size: inherit !important; font-family: inherit !important; font-weight: inherit !important; line-height: inherit !important; } .no-show-for-you { border: none; display: none; float: none; font-size: 0; height: 0; line-height: 0; max-height: 0; mso-hide: all; overflow: hidden; table-layout: fixed; visibility: hidden; width: 0; } </style><!--[if mso]><xml> <o:OfficeDocumentSettings> <o:AllowPNG/> <o:PixelsPerInch>96</o:PixelsPerInch> </o:OfficeDocumentSettings> </xml><![endif]--><style type=\"text/css\">a:link{color: #0092ff; text-decoration: underline;}</style></head><body bgcolor=\"#ffffff\" text=\"#3b3f44\" link=\"#0092ff\" yahoo=\"fix\" style=\"background-color: #ffffff;\"> <table cellspacing=\"0\" cellpadding=\"0\" border=\"0\" role=\"presentation\" class=\"nl2go-body-table\" width=\"100%\" style=\"background-color: #ffffff; width: 100%;\"><tr><td> <table cellspacing=\"0\" cellpadding=\"0\" border=\"0\" role=\"presentation\" width=\"600\" align=\"center\" class=\"r0-o\" style=\"table-layout: fixed; width: 600px;\"><tr><td valign=\"top\" class=\"r1-i\" style=\"background-color: #ffffff;\"> <table cellspacing=\"0\" cellpadding=\"0\" border=\"0\" role=\"presentation\" width=\"100%\" align=\"center\" class=\"r2-o\" style=\"table-layout: fixed; width: 100%;\"><tr><th width=\"100%\" valign=\"top\" class=\"r3-c\" style=\"font-weight: normal;\"> <table cellspacing=\"0\" cellpadding=\"0\" border=\"0\" role=\"presentation\" width=\"100%\" align=\"left\" class=\"r5-o\" style=\"table-layout: fixed; width: 100%;\"><tr><td align=\"justify\" valign=\"top\" class=\"r6-i nl2go-default-textstyle\" style=\"color: #3b3f44; font-family: arial,helvetica,sans-serif; font-size: 16px; line-height: 1.5; word-break: break-word; background-color: #fcfcff; padding-top: 15px; text-align: justify;\"> <div><p style=\"margin: 0;\"><br> </p><p style=\"margin: 0;\">Bonjour {{ $json.person_name }}, </p><p style=\"margin: 0;\">Je me permets de vous envoyer un dernier petit message avant de clôturer votre dossier. Je n’ai pas eu de retour à mes précédents mails, alors je voulais simplement savoir si <span style=\"color: #0d1539;\"><strong>votre projet immobilier était toujours d’actualité</strong></span><strong> ?</strong></p><p style=\"margin: 0;\"> </p><p style=\"margin: 0;\">Si c’est le cas, c’est le bon moment pour qu’on en discute : nous avons actuellement plusieurs projets en cours qui pourraient <span style=\"color: #0d1539;\"><strong>coller à votre profil et à votre budget</strong></span>.<br><br>Et grande nouvelle 🎉 <span style=\"color: #0d1539;\"><strong>Norloc s’étend partout en France, avec de nouvelles villes ouvertes</strong></span> et <span style=\"color: #0D1539;\"><strong>de belles opportunités clé en main</strong></span> disponibles dès maintenant. </p><p style=\"margin: 0;\"> </p><p style=\"margin: 0;\">👉 Vous pouvez aussi suivre nos actualités et projets en temps réel sur Instagram :</p><p style=\"margin: 0;\"><a href=\"https://www.instagram.com/norloc.co/\" style=\"color: #0092ff; text-decoration: underline;\">instagram.com/norloc.co</a></p><p style=\"margin: 0;\"> </p><p style=\"margin: 0;\">Si, au contraire, vous préférez mettre le projet sur pause, aucun souci : </p><p style=\"margin: 0;\">dites-le-moi simplement, pour <strong>qu'on puisse mettre votre dossier en attente</strong> sans vous relancer inutilement.</p><p style=\"margin: 0;\"> </p><p style=\"margin: 0;\">📅 Vous pouvez réserver un rapide créneau ici (même 10 minutes suffisent) :</p><p style=\"margin: 0;\">👉 <a href=\"https://norloc.co/prendre-rendez-vous-en-ligne\" style=\"color: #0092ff; text-decoration: underline;\">https://norloc.co/prendre-rendez-vous-en-ligne</a></p><p style=\"margin: 0;\"> </p><p style=\"margin: 0;\">Dans tous les cas, <strong>merci sincèrement pour le temps que vous nous avez accordé jusqu’ici.</strong></p><p style=\"margin: 0;\">Et si un jour vous souhaitez relancer votre projet, <strong>vous savez où nous trouver 😉</strong></p><p style=\"margin: 0;\"> </p><p style=\"margin: 0;\">Bien à vous,</p><p style=\"margin: 0;\">L’équipe Norloc</p><p style=\"margin: 0;\"> </p></div> </td> </tr></table></th> </tr></table></td> </tr></table></td> </tr></table></body></html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1360,
        -224
      ],
      "id": "f59bd4dd-f755-47ae-9037-879bd2a6073a",
      "name": "Send a message",
      "webhookId": "2d1551b2-4573-4441-99d0-e3dd92f13661",
      "credentials": {
        "gmailOAuth2": {
          "id": "6RMCdmrdaqMZKbZQ",
          "name": "Norloc - Gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $('Get many deals').item.json.id }}",
        "updateFields": {
          "status": "lost"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1872,
        -160
      ],
      "id": "f1657c3d-a15c-45ba-a024-70c416b4b3d0",
      "name": "Deal Status = Lost",
      "credentials": {
        "pipedriveApi": {
          "id": "hybtEliIpMNfDqhV",
          "name": "Norloc - Pipedrive"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "Le deal est considéré \"Lost\" car le numéro de téléphone n'est pas valide // pas sur un indicatif français (+33)",
        "additionalFields": {
          "deal_id": "={{ $json.original_deal_data.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1584,
        -160
      ],
      "id": "5275edf7-eb61-4c0b-bf11-d98bb40e0934",
      "name": "Note -> deal = lost",
      "credentials": {
        "pipedriveApi": {
          "id": "hybtEliIpMNfDqhV",
          "name": "Norloc - Pipedrive"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dipler-backend-203319928451.europe-west9.run.app",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n    \"Authorization\": \"Bearer dpl_pak_0610389934e3a004c34a1ef174072a471f0fd21431b229abcbd69aa6c2ebf74e\",\n    \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"service\": \"twilio\",\n  \"action\": \"makeCall\",\n  \"payload\": {\n    \"workspaceId\": \"{{ $('Prepa données sequences').item.json.agent_config.workspaceId }}\",\n    \"companyId\": \"{{ $('Prepa données sequences').item.json.agent_config.companyId }}\",\n    \"fromPhoneNumber\": \"{{ $('Prepa données sequences').item.json.agent_config.fromPhoneNumber }}\",\n    \"toPhoneNumber\": {{ JSON.stringify($('Get a row').item.json.phone_number) }},\n    \"agentId\": \"{{ $('Prepa données sequences').item.json.agent_config.agentId }}\",\n    \"config\": {\n      \"sessionVariables\": {\n        \"prenom\": {{ JSON.stringify($('Get a row').item.json.first_name) }},\n        \"nom\": {{ JSON.stringify($('Get a row').item.json.last_name) }},\n        \"telephone\": {{ JSON.stringify($('Get a row').item.json.phone_number) }},\n        \"email\": {{ JSON.stringify($('Get a row').item.json.email) }},\n        \"dealId\": \"{{ $('Prepa données sequences').item.json.agent_config.dealId }}\",\n        \"segment\": {{ JSON.stringify($('Resume_prospect').item.json.message.content.ai_analysis.segment_detecte) }},\n        \"delai_contact\": {{ JSON.stringify($('Resume_prospect').item.json.message.content.ai_analysis.delai_contact) }},\n        \"dernier_interlocuteur\": {{ JSON.stringify($('Resume_prospect').item.json.message.content.ai_analysis.dernier_interlocuteur) }},\n        \"historique_resume\": {{ JSON.stringify($('Resume_prospect').item.json.message.content.ai_analysis.historique_resume) }},\n        \"comportement_detecte\": {{ JSON.stringify($('Resume_prospect').item.json.message.content.ai_analysis.comportement_detecte) }},\n        \"approche_arthur\": {{ JSON.stringify($('Resume_prospect').item.json.message.content.ai_analysis.approche_arthur) }},\n        \"points_accroche\": {{ JSON.stringify($('Resume_prospect').item.json.message.content.ai_analysis.points_accroche) }},\n        \"objections_probables\": {{ JSON.stringify($('Resume_prospect').item.json.message.content.ai_analysis.objections_probables) }},\n        \"recommandation\": {{ JSON.stringify($('Resume_prospect').item.json.message.content.ai_analysis.recommandation) }},\n        \"notes_importantes\": {{ JSON.stringify($('Resume_prospect').item.json.message.content.ai_analysis.notes_importantes) }},\n        \"nb_tentative\": {{ JSON.stringify($('Resume_prospect').item.json.message.content.sequence.current_attempt) }},\n        \"prospect_id\": {{ JSON.stringify($('Get a row').item.json.id) }},\n        \"sequence_id\": {{ JSON.stringify($json.id) }}\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        -480
      ],
      "id": "318a81a7-7e18-4672-a63a-bdbf0baeb701",
      "name": "Lancement appel"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "agent_arthur_prospects",
        "filters": {
          "conditions": [
            {
              "keyName": "external_deal_id",
              "keyValue": "={{ $('Prepa données sequences').item.json.prospect_data.external_deal_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2592,
        -560
      ],
      "id": "e08bad89-b5dd-4b79-9529-4f685e2096a5",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "XsVol30xDDqWJuLk",
          "name": "Voipia - Supabase"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09b2c239-0b92-458e-b4ef-39d77ab98b58",
              "name": "client_slug",
              "value": "norloc",
              "type": "string"
            },
            {
              "id": "95cc3020-08e6-46b2-b485-a4eb82f73fb0",
              "name": "client_name",
              "value": "Norloc",
              "type": "string"
            },
            {
              "id": "cba4cf68-2d11-4170-8cd5-765a02ed9d50",
              "name": "secteur_activite",
              "value": "investissement locatif",
              "type": "string"
            },
            {
              "id": "22790894-8748-4e89-9d54-c0692de15e9e",
              "name": "zone_geographique",
              "value": "Hauts-de-France",
              "type": "string"
            },
            {
              "id": "e00cf62b-9d92-488a-8198-9a45e10e8735",
              "name": "proposition_valeur",
              "value": "solution clé en main investissement locatif Hauts-de-France",
              "type": "string"
            },
            {
              "id": "a4b39fac-ef68-4377-99e9-5c560af37fc8",
              "name": "deployment_id",
              "value": "d44a37ed-eed8-45c4-8886-c2b326551ec6",
              "type": "string"
            },
            {
              "id": "4a259ae5-23df-497c-a6e9-98d3917f9b73",
              "name": "agent_id_dipler",
              "value": "01K7RJTHV3BZ0RR2VJ4JDKXHAX",
              "type": "string"
            },
            {
              "id": "e2f0106b-570b-44a2-92a0-8f7be0dcb40f",
              "name": "workspace_id_dipler",
              "value": "01K3NBGPM3S3W9XYA7E7A089WX",
              "type": "string"
            },
            {
              "id": "026e46cd-37eb-482c-9421-5f1f32c30054",
              "name": "company_id_dipler",
              "value": "01K3NAXD42A3YDWCW3X246BT04",
              "type": "string"
            },
            {
              "id": "ed35d061-c164-4103-83a8-529d0ff92b32",
              "name": "from_phone_number",
              "value": "+33757598940",
              "type": "string"
            },
            {
              "id": "fef40164-234a-4524-8fc2-f8044ac3d43f",
              "name": "segments_possibles",
              "value": "Lead chaud|Lead tiède (NRP)|Lead gelé",
              "type": "string"
            },
            {
              "id": "51130d60-16fe-4241-8ef8-3e820eb336a0",
              "name": "interlocuteurs_equipe",
              "value": "Yassine|Gaetan|Axel|Louis",
              "type": "string"
            },
            {
              "id": "103e06dd-f335-4cc0-b8ff-5cdb6ef8cf6b",
              "name": "max_attempts",
              "value": 3,
              "type": "number"
            },
            {
              "id": "a4a333ef-e4fa-4a77-a7ef-f2cf08b2a4a4",
              "name": "sequence_number",
              "value": 1,
              "type": "number"
            },
            {
              "id": "32aae084-fd0f-42a4-8a0d-f2d81a92014b",
              "name": "data_source",
              "value": "pipedrive",
              "type": "string"
            },
            {
              "id": "14977cb8-1566-4f47-8c92-de33b1e32bb6",
              "name": "phone_normalized",
              "value": "={{ $json.phone_normalized }}",
              "type": "string"
            },
            {
              "id": "d0f68093-aa87-4974-a7f0-3eea6b76f9b4",
              "name": "deal_data",
              "value": "={{ $json.original_deal_data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -432
      ],
      "id": "6c72ed3d-eb90-4fe9-9fa2-4fe536f2eb99",
      "name": "Set Client Variables"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// NODE : Prepare Prospect Data\n// ========================================\n// Rôle : Préfixer les IDs + préparer les données pour insertion\n// ========================================\n\nconst items = $input.all();\nconst clientVars = $('Set Client Variables').first().json;\n\nreturn items.map(item => {\n  const aiResponse = item.json.message.content;\n  const prospect = aiResponse.prospect;\n  const sequence = aiResponse.sequence;\n  const aiAnalysis = aiResponse.ai_analysis;\n\n  // ========================================\n  // 1. PRÉFIXAGE DES IDs EXTERNES\n  // ========================================\n  const prefixId = (id) => {\n    if (!id) return null;\n    // Si déjà préfixé, ne rien faire\n    if (id.includes('_')) return id;\n    // Sinon, préfixer avec le client_slug\n    return `${clientVars.client_slug}_${id}`;\n  };\n\n  const prefixedDealId = prefixId(prospect.external_deal_id);\n  const prefixedUserId = prefixId(prospect.external_user_id);\n\n  // ========================================\n  // 2. PRÉPARATION DONNÉES PROSPECT\n  // ========================================\n  const prospectData = {\n    deployment_id: clientVars.deployment_id,\n    external_source: prospect.external_source,\n    external_deal_id: prefixedDealId,\n    external_user_id: prefixedUserId,\n    first_name: prospect.first_name,\n    last_name: prospect.last_name,\n    email: prospect.email,\n    phone_number: prospect.phone_number,\n    company_name: prospect.company_name,\n    status: prospect.status,\n    ai_analysis: aiAnalysis\n  };\n\n  // ========================================\n  // 3. PRÉPARATION DONNÉES SEQUENCE\n  // ========================================\n  const sequenceData = {\n    deployment_id: clientVars.deployment_id,\n    sequence_number: clientVars.sequence_number,\n    max_attempts: clientVars.max_attempts,\n    current_attempt: 0,\n    status: sequence.status,\n    next_action_at: new Date().toISOString() // NOW\n  };\n\n  // ========================================\n  // 4. PRÉPARATION CONFIG AGENT DIPLER\n  // ========================================\n  const agentConfig = {\n    workspaceId: clientVars.workspace_id_dipler,\n    companyId: clientVars.company_id_dipler,\n    fromPhoneNumber: clientVars.from_phone_number,\n    agentId: clientVars.agent_id_dipler,\n    // ⚠️ IMPORTANT : Utiliser l'ID ORIGINAL pour Dipler/Pipedrive\n    dealId: prospect.external_deal_id, // Sans préfixe\n    personId: prospect.external_user_id // Sans préfixe\n  };\n\n  // ========================================\n  // 5. RETOUR DES DONNÉES PRÉPARÉES\n  // ========================================\n  return {\n    json: {\n      // Données pour Supabase (IDs préfixés)\n      prospect_data: prospectData,\n      sequence_data: sequenceData,\n\n      // Données pour Dipler/Pipedrive (IDs originaux)\n      agent_config: agentConfig,\n\n      // Données brutes pour référence\n      ai_analysis: aiAnalysis,\n      client_vars: clientVars,\n\n      // IDs originaux et préfixés pour debug\n      original_deal_id: prospect.external_deal_id,\n      original_user_id: prospect.external_user_id,\n      prefixed_deal_id: prefixedDealId,\n      prefixed_user_id: prefixedUserId\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        -560
      ],
      "id": "2509f736-3749-49c7-93bb-3021998c2aa6",
      "name": "Prepa données sequences"
    }
  ],
  "pinData": {},
  "connections": {
    "Get many deals": {
      "main": [
        [
          {
            "node": "Numéro fr et mail correct",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get many notes": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many deal activities": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Resume_prospect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume_prospect": {
      "main": [
        [
          {
            "node": "Prepa données sequences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new_prospect": {
      "main": [
        [
          {
            "node": "Get many deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get many deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bouge le deal vers reactivation en cours": {
      "main": [
        []
      ]
    },
    "Create a prospect": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a sequence": {
      "main": [
        [
          {
            "node": "Bouge le deal vers reactivation en cours",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lancement appel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Numéro fr et mail correct": {
      "main": [
        [
          {
            "node": "Set Client Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Numéro fr valide ?": {
      "main": [
        [
          {
            "node": "Get many notes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many deal activities",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mail valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mail valide ?": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Note -> deal = lost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Note -> deal = lost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Note -> deal = lost": {
      "main": [
        [
          {
            "node": "Deal Status = Lost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Create a sequence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Client Variables": {
      "main": [
        [
          {
            "node": "Numéro fr valide ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepa données sequences": {
      "main": [
        [
          {
            "node": "Create a prospect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "SGSovZYF1Tz9a2Rp"
  },
  "versionId": "53536d9b-e182-4c9f-aaf9-c2106786abb5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "27a6c874b68318cdae94f2a582a89e9844ae4d79131f1180544dc868ad3bf428"
  },
  "id": "jiX3nNETvBX3X2z3",
  "tags": [
    {
      "createdAt": "2025-07-31T05:30:28.988Z",
      "updatedAt": "2025-07-31T05:30:28.988Z",
      "id": "GDyJB6Fve8FfdPHg",
      "name": "Norloc"
    }
  ]
}